{% extends 'master_content.html' %}

{% block maincontent %}
	<table id="table0" align="center" border="0" cellspacing="0" cellpadding="0" class="sort sortable-onload-5-6r rowstyle-alt colstyle-alt no-arrow">
		<thead>
			<tr>
				<th width="200" class="sortable">&nbsp;Nom</th>
				<th width="150" class="sortable">Responsable</th>
				<th colspan="2" class="sortable" align="center">Acronyme</th>
			</tr>
		</thead>
		<tbody class="sort">
			{% for discipline in disciplines %}
				<tr>
					<td class="sort"><a href="discipline_detail.php?disciplineid={{discipline.getid}}">{{discipline.gettitle}}</td>
					<td class="sort"><a href="user_detail.php?uid={{discipline.getResponsable.getUserID}}">{{discipline.getResponsable.getLastName}}, {{discipline.getResponsable.getFirstName}}</a></td>
					<td class="sort">{{discipline.getAcronym}}</td>
				</tr> 
			{% endfor %}
		</tbody>
	</table>
{% endblock %}